<mat-sidenav-container>
	<div class="menu-image">
		<button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
			<mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
		</button>
		<img src="assets/logo.svg" class="display-resize" />
	</div>
	<mat-sidenav class="container" mode="side" opened="true" #sidenav="matSidenav">
		<button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
			<mat-icon *ngIf="sidenav.opened">close</mat-icon>
		</button>
		<img src="assets/logo.svg" class="display" />

		<mat-nav-list>
			<mat-list-item
				*ngFor="let navigation of navigationLinks"
				[routerLinkActive]="'active'"
				[routerLink]="navigation.url"
				class="list-buttons"
				[routerLinkActiveOptions]="{ exact: navigation.exact }"
			>
				<div class="title">
					{{ navigation.title }}
				</div>
			</mat-list-item>
		</mat-nav-list>
		<button mat-button class="last" (click)="onLogoutClick()">Log out</button>
	</mat-sidenav>

	<div>
		<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>
