<mat-sidenav-container>
	<div class="menu-image">
		<button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
			<mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
		</button>
		<img src="assets/logo.svg" class="display-resize" />
	</div>
	<mat-sidenav class="container" mode="side" opened="true" #sidenav="matSidenav">
		<button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
			<mat-icon *ngIf="sidenav.opened">close</mat-icon>
		</button>
		<img src="assets/logo.svg" class="display" />

		<mat-nav-list *ngFor="let navigation of navigationLinks; let last = last" [ngClass]="{ last: last }">
			<mat-button [routerLink]="navigation.url" class="list-buttons">
				<mat-list-item [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: navigation.exact }">
					<div class="title">
						{{ navigation.title }}
					</div>
				</mat-list-item>
			</mat-button>
		</mat-nav-list>
	</mat-sidenav>

	<div>
		<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>
