@import '../../../../variables';

mat-sidenav-container{
    height: 100vh;
    background-image: rgb(202, 42, 42);
}

.last{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

.title{
    margin-left: 10px;
    &:focus{
        background-color: $purple;
    }
}

mat-nav-list{
    margin-left: 10px;
}

.active{
    background-color: $purple;
    border-radius: 24px;
    max-width: 130px;
    &:hover{
        background-color: $purple;
        border-radius: 24px;
        max-width: 130px;
    }
    &:focus{
        background-color: $purple;
    }
}

.container {
    min-width: 250px;
}

.display{
    padding-left: 10px;
    padding-top: 10px;
}

.display-resize{
    display: none;
}

@media screen and (max-width: 900px){
    .container {
        min-width: 200px;
    }

    .display{
        display: none;
    }

    .display-resize{
        margin-top: 5px;
        margin-left: 40px;
        height: 30px;
        display:block;
    }

    .menu-image{
        display: flex;
        position: sticky;
        background-color: $dark-purple;
        z-index: 1;
        padding-bottom: 5px;
        top: 0;
    }

    mat-sidenav{
        border-top-right-radius: 20px;
    }
}