<form [formGroup]="form">
	<mat-card class="card">
		<img src="assets/logo.svg" class="display" />

		<app-auth-form [form]="form"></app-auth-form>

		<mat-form-field appearance="outline">
			<mat-icon aria-hidden="false" aria-label="Person icon" matPrefix>lock</mat-icon>
			<mat-label>Confirm Password</mat-label>
			<input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
		</mat-form-field>

		<mat-card-actions class="button">
			<button
				mat-raised-button
				color="primary"
				[disabled]="form.invalid"
				appearance="outline"
				(click)="onRegisterClick($event)"
			>
				Register
			</button>

			<p>Already have an account? <a [routerLink]="'/login'" class="link">Login</a></p>
		</mat-card-actions>
	</mat-card>
</form>
