<div class="card-size" *ngIf="show$ | async as show">
	<mat-card>
		<img mat-card-image class="image" [src]="show.imageUrl" />
		<div class="flex-container">
			<div class="column">
				<mat-card-title class="title">{{ show.title }}</mat-card-title>
				<div class="star-rating">
					<mat-icon aria-hidden="false" class="star" matPrefix>star</mat-icon>
					<mat-card-subtitle class="rating">{{ show.averageRating ?? 'No rating' }}/5</mat-card-subtitle>
				</div>
			</div>
			<div class="flex-item">
				<mat-card-content class="description">{{ show.description }}</mat-card-content>
			</div>
		</div>
	</mat-card>
	<div class="review-cards">
		<app-show-reviews [show]="show"></app-show-reviews>
	</div>
</div>
