<div class="container" [formGroup]="reviewFormGroup">
	<mat-form-field appearance="outline" class="textarea">
		<mat-label>Leave a review</mat-label>
		<textarea
			matInput
			formControlName="comment"
			cdkTextareaAutosize
			#autosize="cdkTextareaAutosize"
			cdkAutosizeMinRows="5"
			cdkAutosizeMaxRows="10"
		></textarea>
	</mat-form-field>

	<div class="button-rating">
		<mat-form-field appearance="outline" class="rating">
			<mat-label>Rating</mat-label>
			<input matInput placeholder="Ex. 8.6/10" formControlName="rating" />
		</mat-form-field>

		<mat-card-actions class="button">
			<button mat-raised-button color="primary" [disabled]="reviewFormGroup.invalid" (click)="addReview()">
				Post
			</button>
		</mat-card-actions>
	</div>

	<mat-card *ngFor="let showReview of showReviews$ | async" class="grid-container">
		<div class="grid-item-1">
			<img class="image" src="{{ showReview.user.image_url }}" />
		</div>

		<div class="grid-item-2">
			<mat-card-content>{{ showReview.user.email }}</mat-card-content>
			<mat-card-subtitle type="number">{{ showReview.rating }}</mat-card-subtitle>
		</div>

		<div class="grid-item-3">
			<mat-card-content>{{ showReview.comment }}</mat-card-content>
		</div>
	</mat-card>
</div>
