.container{
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
}

.textarea{
    max-width: 600px;
}

.rating{
    max-width: 200px;
}

.button-rating{
    display: grid;
    grid-template-columns:  480px 200px;
}

.submit-button{
    width: 8vw;
    height: 2vw;
    text-align: center;
    margin-bottom: 4vw;
}

.image{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    margin-bottom: 2vw;
    border-radius: 20px;
}

.grid-item-1{
    align-items: center;
    justify-content: center;
}

.grid-item-3{
    margin-left: 30px;
}

@media screen and (max-width: 450px){
    .grid-container{
        grid-template-columns: auto;
        column-gap: 1;
    }
    
    .grid-item-1{
        align-items: stretch;
        justify-items: stretch;
        grid-column-start: 1;
    }

    .grid-item-2{
        align-items: stretch;
        justify-items: stretch;
        grid-column-start: 2;
    }
    
    .grid-item-3{
        margin-left: 0px;
        min-width: 200px;
    }

    .button-rating{
        grid-template-columns:  auto auto;
    }
}