<ng-container class="" *ngIf="form" [formGroup]="form">
	<mat-form-field appearance="outline">
		<mat-label>Email</mat-label>
		<mat-icon aria-hidden="false" aria-label="Person icon" matPrefix>person</mat-icon>
		<input matInput type="email" placeholder="Enter Email" formControlName="email" />
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-icon aria-hidden="false" aria-label="Person icon" matPrefix>lock</mat-icon>
		<mat-label>Password</mat-label>
		<input matInput type="password" placeholder="Enter Password" formControlName="password" />
	</mat-form-field>
</ng-container>
