.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}