mat-sidenav-container{
    height: 100%;
}

mat-sidenav{
    width: 15vw;
}

h1{
    text-align: center;
    font-weight: bold;
}

.button-item{
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 10vw;
}

.active{
    color: blue;
}